* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #333231;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: "Libertinus Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #e9e3de;
}


